.section-heading {
  font-size: 20px;
  color: #9f71e4;
  font-weight: 600;
  margin-bottom: 5px;
  margin: 0;
  margin-top: 0;;
  text-align: left;
  background: none;
  box-shadow: none;
  transition: none;
}
