<button routerLink="/" style="border: none; color: purple; background-color: white; cursor: pointer;">Go to Home</button>
<div class="auth-container">
<ng-container *ngIf="!showLogin">
<!-- Register Form -->
 
 
<form (submit)="register()" #regForm="ngForm">
<h2>Register</h2>
<label>Name:</label>
<input type="text" name="name" ngModel required pattern="[A-Za-z ]+" placeholder="username" #name="ngModel">
<div *ngIf="name.errors?.['required'] && name.touched" class="error">
  Name field can't be empty
</div>
<div *ngIf="name.errors?.['pattern'] && name.touched" class="error">
  Name should contain only letters and spaces
</div>
<label>Email:</label>
 
<input type="email" name="email" [(ngModel)]="email" required
       pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
       #emailField="ngModel" />
 
<div *ngIf="emailField.errors?.['required'] && emailField.touched" class="error">
  Email field can't be empty
</div>
<div *ngIf="emailField.errors?.['pattern'] && emailField.touched" class="error">
  Enter a valid email address
</div>
 
<label>Password:</label>
<input type="password" name="password" ngModel required pattern="[a-zA-Z\s0-9]{10,}" placeholder="password" #password="ngModel">
<div *ngIf="password.errors?.['required'] && password.touched" class="error">
      Password can't be empty
</div>
<div *ngIf="password.errors?.['pattern'] && password.touched" class="error">
      Password is invalid
</div>
<label>Confirm Password:</label>
<input type="password" name="confirmPassword" ngModel required #confirmPassword="ngModel">
<div *ngIf="confirmPassword.touched && confirmPassword.value !== password.value" class="error">
      Passwords do not match
</div>
 
 
<button type="submit" routerLink="login" [disabled]="!regForm.valid">Register</button>
<p>Already Registered? <span (click)="showLogin = true" [class.active]="showLogin">Login</span></p>
</form>
</ng-container>
<ng-container *ngIf="showLogin">
 
<form (ngSubmit)="login()" #logForm="ngForm">
  <h2>Login</h2>
  <input type="email" name="email" [(ngModel)]="email" placeholder="Email" required />
  <input type="password" name="password" [(ngModel)]="password" placeholder="Password" required />
  <button type="submit">Login</button>
  <p>Not Registered? <span (click)="showLogin = false" [class.active]="!showLogin">Register</span></p>
</form>
</ng-container>
</div>
 
 