.exam-container {
  padding: 20px;
}

.question-block {
  padding: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.options-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-top: 12px;
}

@media (max-width: 768px) {
  .exam-container {
    padding: 15px;
  }
  
  .options-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  
  .question-block {
    padding: 12px;
    margin-bottom: 20px;
  }
  
  .option-button {
    padding: 10px 12px;
    font-size: 14px;
  }
  
  .submit-exam {
    padding: 10px;
    margin-bottom: 20px;
  }
}

.option-button {
  all: unset;
  display: block;
  padding: 12px 16px;
  border: 2px solid #ccc; 
  border-radius: 8px;
  background-color: #f9f9f9; 
  cursor: pointer;
  font-size: 16px;
  text-align: left;
  transition: background-color 0.2s, border-color 0.2s;
}

.option-button:hover {
  background-color: #ede4fc; 
  border-color: #a17ee8;
}

.option-button.selected {
  background-color: #e0d1fb;
  border-color: #a17ee8;
  font-weight: bold;
}
.submit-exam{
  background-color: #e0d1fb;
  border-color: #a17ee8;
  padding: 12px;
  font-weight: bold;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.submit-exam:hover{
   background-color: #ede4fc; 
}