 <div class="main-content">
      

      <header class="header">
  <h1>Student Dashboard</h1>
</header>

<div class="main-container">
  

  <div class="main">
    
    <app-dashboard (cardClicked)="handleCardClick($event)"></app-dashboard>

    <div *ngIf="selectedSection === 'available'">
      <app-available-exams></app-available-exams>
    </div>
    <!-- <div *ngIf="selectedSection === 'completed'">
      <app-completedexams-component></app-completedexams-component>
    </div> -->
    <div *ngIf="selectedSection === 'progress'">
      <app-studentprogress-component></app-studentprogress-component>
    </div>
  </div>
</div>


 </div>
 
 