

/*.dashboard {
  padding: 10px;
  margin-top: 0;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  flex: 1;
  cursor: pointer;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 2rem;
  font-weight: bold;
}

.card small {
  color: #2196F3;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  margin-top: 10px;
}

.progress-fill {
  height: 100%;
  background-color: #6C63FF;
  border-radius: 5px;
}
.greeting{
  grid-column: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  background-color: white;
  box-shadow: var(--shadow-sm);
  position: sticky;
  top: 0;
  z-index: 100;
  border-radius: 10px;
  height:50px;
  margin-bottom: 15px;
}
.btn{
  background-color: #f4f2fc;
  border:1px solid #9f71e4;
  border-radius: 10px;
} 
 .page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
 
}*/

.header {
  height: 70px;
  background-color: #3c1270;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.main-container {
  margin-top:0;
  display: flex;
  flex: 1;
  background-color: #f5f5f5;
}
.main {
  flex: 1;
  padding: 10px;
} 