.header {
  height: 70px;
  background-color: #b68ef1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.main-container {
  margin-top:0;
  display: flex;
  flex: 1;
  background-color: #f5f5f5;
  width: 875px;
}
.main {
  flex: 1;
  padding: 10px;
}

@media (max-width: 768px) {
  .header {
    height: 60px;
    padding: 0 15px;
    font-size: 1.3rem;
  }
  
  .main-container {
    width: 100%;
    flex-direction: column;
    overflow-x: hidden;
  }
  
  .main {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
  }
} 