
.container {
  display: flex;
}

.main-content {
  margin-left: 250px; 
  width: calc(100% - 250px);
  padding: 20px;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    width: 100%;
    padding: 10px;
  }
}
