<!-- <app-header-component
  [isAllCoursesModalVisible]="isAllCoursesModalVisible"
  (closeModalEvent)="closeAllCoursesModal()"
></app-header-component>
<app-body-component (exploreClicked)="showAllCourses()"></app-body-component>
  <app-footer-component></app-footer-component>  -->

<!-- Landing View -->
  <app-header-component></app-header-component>
  <app-body-component></app-body-component>
  <app-footer-component></app-footer-component>


<!-- Login View 
<div *ngIf="activeItem === 'login'">
  <button (click)="setActiveItem('landing')" style="border: none; color: purple; background-color: white; cursor: pointer;">Back to Home</button>
  <app-login-component></app-login-component>
  
</div>

<!-- Signup View 
<div *ngIf="activeItem === 'signup'">
  
  <app-register-component></app-register-component>
</div>-->