<button class="back-button" type="button" routerLink="/">
  <div class="back-button-icon-container">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" height="25px" width="25px">
      <path d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z" fill="#000000"></path>
      <path d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z" fill="#000000"></path>
    </svg>
  </div>
  <p class="back-button-text"></p>
</button>
<div class="auth-container">
<ng-container *ngIf="!showLogin">
<!-- Register Form -->
<form (submit)="register()" #regForm="ngForm">
<h2>Register</h2>
<label>First Name:</label>
<input type="text" name="name" ngModel required pattern="[A-Za-z ]+" placeholder="Firstname" #name="ngModel">
<div *ngIf="name.errors?.['required'] && name.touched" class="error">
  Name field can't be empty
</div>
<div *ngIf="name.errors?.['pattern'] && name.touched" class="error">
   First Name should contain only letters and spaces
</div>
<label>Last Name:</label>
<input type="text" name="name" ngModel required pattern="[A-Za-z ]+" placeholder="Lastname" #name="ngModel">
<div *ngIf="name.errors?.['required'] && name.touched" class="error">
  Last Name field can't be empty
</div>
<div *ngIf="name.errors?.['pattern'] && name.touched" class="error">
  Name should contain only letters and spaces
</div>
<label>Email:</label>
<input type="email" name="email"  ngModel required  placeholder="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #email="ngModel">
<div *ngIf="email.errors?.['required'] && email.touched" class="error">
      Email field can't be empty
</div>
<div *ngIf="email.errors?.['pattern'] && email.touched" class="error">
      Enter a valid email address
</div>
<label>Password:</label>
<input type="password" name="password" ngModel required pattern="[a-zA-Z\s0-9]{10,}" placeholder="password" #password="ngModel">
<div *ngIf="password.errors?.['required'] && password.touched" class="error">
      Password can't be empty
</div>
<div *ngIf="password.errors?.['pattern'] && password.touched" class="error">
      Password is invalid
</div>
<label>Confirm Password:</label>
<input type="password" name="confirmPassword" ngModel required #confirmPassword="ngModel">
<div *ngIf="confirmPassword.touched && confirmPassword.value !== password.value" class="error">
      Passwords do not match
</div> 

 
<button type="submit" routerLink="login" [disabled]="!regForm.valid">Register</button>
<p>Already Registered? <span (click)="showLogin = true" [class.active]="showLogin">Login</span></p>
</form>
</ng-container>
<ng-container *ngIf="showLogin">
<!-- Login Form -->
<form (ngSubmit)="login()" #logForm="ngForm">
  <h2>Login</h2>
  <input type="email" name="email" [(ngModel)]="email" placeholder="Email" required />
  <input type="password" name="password" [(ngModel)]="password" placeholder="Password" required />
  <button type="submit">Login</button>
  <p>Not Registered? <span (click)="showLogin = false" [class.active]="!showLogin">Register</span></p>
</form>
</ng-container>
</div>
