/* You can add global styles to this file, and also import other style files */

body.modal-open {
  overflow: hidden;
  height: 100%;
}

* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
