.app-container {
  display: flex;
}

.main-content {
  margin-left: 200px; 
  width: calc(100% - 200px);
  padding: 20px;  
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }
  
  .main-content {
    margin-left: 0;
    width: 100%;
    padding: 10px;
  }
}

